
__pycache__/rocker_project_manager.cpython-39.pyc
__pycache__/rocker_progress_tracker.cpython-39.pyc
__pycache__/rocker_progress_tracker.cpython-37.pyc
__pycache__/rocker_project_manager.cpython-37.pyc
.DS_Store
